*{
	margin:0;
	padding:0;
}
h1{
	text-align:center;
	font-family:arial;
}
.wrapper{
    display:flex;
    justify-content:center;
	align-items:center;
}
.zaslon{
    rotate:270deg;
    transform: scale(2);
    height:500px;
	width:250px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:10%;
	background-image:url("img/zaslon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    align-self: center;
}
#screen{
    rotate:90deg;
}