*{
	margin:0;
	padding:0;
}
body{
	overflow:hidden;
}
.vsi{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	gap:70px;
}
.svg path{
	fill:black;
}
h1{
	text-align:center;
	font-family:arial;
}
.png{
	height:250px;
	width:250px;
}
.canvasOzadje{
	height:500px;

	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:10%;
	background-image:url("img/iphone.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;

}
.svgOzadje{
	height:500px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:10%;
	background-image:url("img/iphone.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}
.svg {
  transform: scale(0.27); /* Povečanje slike za 1.5-krat */
  transform-origin: center; /* Zagotovi, da se slika povečuje okoli sredine */
}
.pngOzadje{
	height:500px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:10%;
	background-image:url("img/iphone.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}
.png{
	transform: scale(0.43);
	transform-origin: center;
}

svg path:hover{
	transform: scale(1.2);
	fill: red;
}