*{
	margin:0;
	padding:0;
}
body{
	overflow:hidden;
}
.vsi{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.svg path{
	fill:black;
}
h1{
	text-align:center;
}
.png{
	height:250px;
	width:250px;
}